<div class="room-list">

  <div class="room-button-panel">
    <button class="room-list-button"
            *ngIf="!toggles.invite && !toggles.create && currentUser?.id === selectedRoom?.owner"
            (click)="onToggleOn('invite')">
      Invite
    </button>
    <button class="room-list-button" *ngIf="toggles.invite" (click)="onToggleOff('invite')">Cancel</button>
    <button class="room-list-button" *ngIf="!toggles.create && !toggles.invite" (click)="onToggleOn('create')">
      Create
    </button>
    <button class="room-list-button" *ngIf="toggles.create" (click)="onToggleOff('create')">Cancel</button>

    <div *ngIf="toggles.create">
      <input #roomTitle type="text" placeholder="Room Title">
      <button class="room-create-button" (click)="onCreateOk(roomTitle.value)">Ok</button>
    </div>
    <div *ngIf="toggles.invite">
      <input #userSearchBox type="text" placeholder="search" (keyup)="searchUsers(userSearchBox.value)">
      <ul class="user-list">
        <li *ngFor="let user of users | async"
            class="room-instance"
            (click)="onSelectUser(user)"><span>{{user.username}}</span></li>
      </ul>
    </div>
  </div>

  <ul *ngFor="let room of displayedRooms">
    <li [class.selected]="room === selectedRoom" (click)="onSelectRoom(room)"><span>{{room.title}}</span></li>
  </ul>
</div>

