.room-list ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.room-list {
  height: auto;
  width: 300px;
  background: #505d71;
  overflow-y: auto;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.room-list ul li.selected  {
  background: #445166;
  color: #fff;
}

.room-list ul li {
  padding: 15px;
  color: #bcc3d0;
  text-decoration: none;
  display: block;
  position: relative;
  border-bottom: 2px solid #586476;
  transition: all 0.2s linear;
}

.room-list ul li span {
  display: inline-block;
  margin-left: 14px;

}
.room-list ul li:hover {
  cursor: pointer;
  background: #445166;
  color: #fff;
}

.room-list-button {
  padding: 15px;
  color: #fff;
  background-color: #7c93b1;
  border: hidden;
  width: 100%;
}

.room-button-panel {
  background-color: #697f9c;
}

.room-list::-webkit-scrollbar {
  width: 0;
  -ms-overflow-style: none;
}
